.table {
  color: #ddd;
}

.editable {
  cursor: pointer;
  font-weight: bold;
  color: #cdcecf;
}

.editable:hover {
  color: yellow;
  background-color: #e153ee51;
}

.not-editable {
  cursor: not-allowed;
  color: #cdcecf80;
}

.modal-content {
  background-color: #282c34;
}
